@import "mixins";
@import "root";

//---------- functions ----------

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

* {
  font-feature-settings: "ss01" on;
}

html,
body,
small,
span,
p,
ins,
div,
pre,
section,
.text-h1,
article {
  font-family: Yekan Bakh, Tahoma, serif !important;
  color: var(--gray300) !important;
}

html {
  scroll-behavior: smooth;
}

article {
  font-size: 0.875rem;
  line-height: 2rem;
  text-align: justify;
}

article a {
  // color: var(--primary) !important;
  color: lightblue !important;
  text-decoration: underline !important;
  text-underline-offset: 8px !important;
}

article h2 h3 h4 h5 h6 {
  color: var(--primary) !important;
}

article p {
  color: var(--gray100);
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  overflow-x: hidden;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}
.font-weight-bold {
  font-weight: bold !important ;
}

.link-text-decoration {
  text-decoration: underline !important;
  text-underline-offset: 8px !important;
}

//---------- fontsize ----------
h1 {
  font-size: 2.25rem !important;
  line-height: 160%;
  font-weight: weight(bold) !important;
  @include mobile-breakpoint {
    font-size: 1.5rem !important;
  }
}
h2 {
  font-size: 1.75rem !important;
  font-weight: weight(bold);
  line-height: 160%;
  @include mobile-breakpoint {
    font-size: 1.375rem !important;
  }
}
h3,
.h3 {
  font-size: 1.5rem !important;
  font-weight: weight(bold);
  line-height: 160%;
  @include mobile-breakpoint {
    font-size: 1.25rem !important;
  }
}
h4,
.h4 {
  font-size: 1.375rem !important;
  font-weight: weight(bold);
  line-height: 160%;
  @include mobile-breakpoint {
    font-size: 1.125rem !important;
  }
}
h5,
.h5 {
  font-size: 1.125rem !important;
  font-weight: weight(semi-bold);
  line-height: 180%;
  @include mobile-breakpoint {
    font-size: 1rem !important;
  }
}
h6,
.h6 {
  font-size: 1rem !important;
  font-weight: weight(semi-bold);
  line-height: 200%;
  @include mobile-breakpoint {
    font-size: 1rem !important;
  }
}
p {
  font-size: 1rem !important;
  font-weight: weight(regular);
  color: var(--textTitle) !important;
}
.text-small {
  font-size: 0.875rem !important;
  font-weight: weight(regular);
  line-height: 200%;
  @include mobile-breakpoint {
    font-size: 0.875rem !important;
  }
}
.text-xsmall {
  font-size: 0.75rem !important;
  font-weight: weight(regular);
  line-height: 200%;
  @include mobile-breakpoint {
    font-size: 0.75rem !important;
  }
}

.text-xxlarge {
  font-size: 2rem !important;
}

.text-xlarge {
  font-size: 1.5rem !important;
}

.text-large {
  // 20 px
  font-size: 1.25rem !important;
}

.text-18px {
  font-size: 1.125rem !important;
}

.text-medium {
  font-size: 1rem !important;
}

.text-14px {
  font-size: 0.875rem !important;
}

.text-13px {
  font-size: 0.8125rem !important;
}

.text-15px {
  font-size: 0.938rem !important;
}

.text-14px {
  font-size: 0.875rem !important;
}

.text-xsmall {
  font-size: 0.685rem !important;
}

/* Re-designs styles */
.coursebg {
  background: rgba(237, 237, 237, 0.21);
  backdrop-filter: blur(47px);
}
.videobg {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0.24) 100%
    ),
    rgba(255, 255, 255, 0.12) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(2px) !important;
}
.text-card-title {
  font-size: 16px !important;
}
.med-main-title {
  font-size: 29px !important;
}
.text-low-weight {
  font-weight: 100 !important;
}
.text-high-weight {
  font-weight: 900 !important;
}
.text-card-chips {
  font-size: 10px !important;
}
.text-card-chips-content {
  font-size: 12px !important;
}
.text-card-content {
  font-size: 14px !important;
}
video {
  border-radius: 20px;
}
/* End Re-designs styles */

.text-field-bg {
  background-color: rgba(171, 177, 183, 0.42);
}
.search-btn-bg {
  background: rgba(245, 245, 245, 0.62) !important;
}
.custom-bg {
  background: rgba(75, 75, 75, 0.46) !important;
  border: 1px solid #4b4551;
}
.box-bg {
  background: rgba(255, 255, 255, 0.16) !important;
}
.post-card-bg {
  background: rgba(89, 89, 89, 0.38) !important;
}
.video-card-bg {
  background: rgba(166, 166, 166, 0.13) !important;
}
.profile-bg {
  background: rgba(108, 108, 108, 0.33) !important;
}
blockquote a {
  color: var(--primary) !important;
  text-decoration: none;
}

b,
strong {
  font-weight: bold !important;
  color: var(--textTitle) !important;
}

small,
.small {
  font-size: 0.875em;
  color: var(--textDescription);
}

a {
  color: var(--gray200) !important;
  text-decoration: none;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

.rounded-5 {
  border-radius: 12px !important;
}
.rounded-12 {
  border-radius: 12px !important;
}
.rounded-20 {
  border-radius: 20px !important;
}
.rounded-24 {
  border-radius: 24px !important;
}

.white-space-pre-line {
  white-space: pre-line !important;
}

.article img {
  max-width: 100% !important;
  width: auto;
  border-radius: 4px;
  height: auto;
}

.hide-scroll::-webkit-scrollbar-track,
.hide-scroll::-webkit-scrollbar-corner,
.hide-scroll::-webkit-scrollbar-thumb,
.hide-scroll::-webkit-scrollbar-track-piece,
.hide-scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  max-width: 0;
}

::-webkit-scrollbar {
  background-color: var(--gray900);
  // border-radius: 8px !important;
  width: 13px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray100);
  border: 5px solid transparent;
  border-radius: 16px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.v-slide-group__prev--disabled {
  visibility: hidden;
}
.pdp.rtl .pdp-group input:last-of-type {
  background-color: #343850 !important;
  border: 1px solid #b6b6b67a;
}
.v-slide-group__next--disabled {
  visibility: hidden;
}

.download-link-container > div > img {
  margin-left: 8px;
  height: 20px;
}

//------------layout ------------

.bordered {
  border: 2px var(--gray200) solid;
}
.v-btn__content {
  width: 100%;
  height: 100%;
}
.no-ripple .v-list-item__overlay {
  display: none;
}

.no-ripple .v-btn__overlay {
  display: none;
}
.no-ripple .v-ripple__container {
  display: none;
}
.no-ripple .v-card__overlay {
  display: none;
}
.rounded-ripple-card .v-card__overlay {
  border-radius: 22px;
}
.rounded_ripple .v-list-item__overlay {
  border-radius: 15px;
}
.no_overlay .v-btn__overlay {
  display: none;
}
.v-overlay__scrim {
  background: black !important;
  backdrop-filter: blur(50px) !important ;
  -webkit-backdrop-filter: blur(10px) !important;
}
.zi-1 {
  z-index: 10 !important;
}

.zi-2 {
  z-index: 20 !important;
}

.zi-3 {
  z-index: 30 !important;
}
.bluredbg-1 {
  background: rgba(20, 19, 47, 0.8);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.bluredbg-2 {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(156, 158, 245, 0.185);
  border-radius: 8px;
}
.bluredbg-3 {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.bluredbg-4 {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.border-bottom {
  border-bottom: #fff solid 1px !important;
}
* {
  letter-spacing: normal;
}
.pointer {
  cursor: pointer !important;
}
.maxContent {
  max-width: max-content !important;
}
.v-container {
  max-width: 1100px !important;
}