@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 100;
  src: url('fonts/woff/YekanBakh-Regular.woff') format('woff'),
  url('fonts/woff2/YekanBakh-Regular.woff2') format('woff2');
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/woff/YekanBakh-Regular.woff') format('woff'),
  url('fonts/woff2/YekanBakh-Regular.woff2') format('woff2');
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/woff/YekanBakh-Regular.woff') format('woff'),
  url('fonts/woff2/YekanBakh-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/woff/YekanBakh-SemiBold.woff') format('woff'),
  url('fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/woff/YekanBakh-SemiBold.woff') format('woff'),
  url('fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 600;
  src: url('fonts/woff/YekanBakh-SemiBold.woff') format('woff'),
  url('fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 700;
  src: url('fonts/woff/YekanBakh-Bold.woff') format('woff'),
  url('fonts/woff2/YekanBakh-Bold.woff2') format('woff2');
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 800;
  src: url('fonts/woff/YekanBakh-Bold.woff') format('woff'),
  url('fonts/woff2/YekanBakh-Bold.woff2') format('woff2');
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/woff/YekanBakh-Bold.woff') format('woff'),
  url('fonts/woff2/YekanBakh-Bold.woff2') format('woff2');
}

$bold:400 500 600;
$font-weight :(
'bold':900,
'semi-bold':600,
'regular':300,
);
:root {
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --primary: #060623;
  --primaryBlue: #5AA6F8;
  
  --gray50: #F8FAFC;
  --gray100: #F1F5F9;
  --gray200: #e5e5e5;
  --gray300: #CBD5E1;
  --gray400: #94A3B8;
  --gray500: #64748B;
  --gray600: #475569;
  --gray700: #334155;
  --gray800: #1E293B;
  --gray900: #0F172A;

  --secondary: #03DAC6;
  --success: #55B685;
  --error: #EF4444;
  --errorDark: #b91c1c;
  --warning: #F59E0B;
  --blueGray: #302D41;
  --heading: "#D6D5DA";
  --p: "#B4B4B4";
  --title: "#D6D5DA";
  --stroke: #282144;
  --assent: #3476D6;
  --cartBackgroundDark: #302D41;

  --white: #FFFFFF;
  --black: #1B1A1A;
  --info: #2196F3;
}
